<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 id="titulo">Informações</h1>
    <section class="quadro">
        <div>
            <div id="imagem"><img src="https://arquivo.devmedia.com.br/noticias/artigos/artigo_javascript-reduce-reduzindo-uma-colecao-em-um-unico-objeto_37981.jpg" alt=""></div>
            <h3>Javascript</h3> 
            <div>{{js['js1']}}</div><br>
            <div>{{js['js2']}}</div><br>
            <div>{{js['js3']}}</div><br>
            <div>{{js['js4']}}</div><br>
        </div>
    </section>
</body>
</html>