<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 id="titulo">Informações</h1>
    <section class="quadro">
        <div>
            <div id="imagem"><img src="https://s2.glbimg.com/8Eei6Qopp615eJjJAthTrdKfpfA=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2021/P/f/y52r4ySZWLkJjEhKLhgw/2014-11-14-java-logo.jpg" alt=""></div>
            <h3>Java</h3> 
            <div>{{jv['jv1']}}</div><br>
        </div>
    </section>
</body>
</html>