<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 id="titulo">Informações</h1>
    <section class="quadro">
        <div>
            <div id="imagem"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/2560px-Python_logo_and_wordmark.svg.png" alt=""></div>
            <h3>Python</h3> 
            <div>{{py['py1']}}</div><br>
            <div>{{py['py2']}}</div><br>
            <div>{{py['py3']}}</div><br>
            <div>{{py['py4']}}</div><br>
        </div>
    </section>
</body>
</html>