<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 id="titulo">Informações</h1>
    <section class="quadro">
        <div>
            <div id="imagem"><img src="https://raw.githubusercontent.com/khaosdoctor/blog-assets/master/images/2022/06/10b88c68-typescript-logo.png" alt=""></div>
            <h3>Typescript</h3> 
            <div>{{ts['ts1']}}</div><br>
            <div>{{ts['ts2']}}</div><br>
            <div>{{ts['ts3']}}</div><br>
            <div>{{ts['ts4']}}</div><br>
        </div>
    </section>
</body>
</html>